body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange{
    color: orange;
}
.gray{
    color: gray;
}
.flexible-container{
    display: flex;
    padding-bottom: 100px;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 70px;
    color: gray;
}
h3{
    font-weight: 700;
}
.half-width{
    width: 50%;
    font-size: 25px;
    padding-left: 10%;
    padding-top: 10%;
}
.half-width img{
    width: 80%;
}
.anchor{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px;
    border-radius: 40px;
    font-weight: 700;
    color: white;
}
.background-pic{
    background-image: url(7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.section-two{
    display: flex;
    margin: 0;
    padding-top: 100px;
}
.part-two img{
    width: 70%;
    padding-left: 40%;
}
.part-two{
    width: 50%;
    padding-right: 20%;
    font-size: 20px ;
}
.two-three-mid{
    text-align: center;
}
.two-three-mid p{
    font-size: 20px;
}
.box{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 60px gray;
    border-radius: 5%;

}
.recipie-box{
    width: 50%;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
.recipie-box img{
    width: 100%;
}
.forth-section{
    display: flex;
}